venv/
__pycache__/
*.pyc
.env
*.db
.pytest_cache/

# Terraform folders and files
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# AWS credentials/config (Safety first!)
.aws/